/* EXERCISE START */

.task-type-1{
    background-color: #FF00FF;
  }
  
  .task-type-2{
    background-color: #00FFFF;
  }
  
  .task-type-3{
    background-color: #8000FF;
  }
  
  .task-type-4{
    background-color: #CCFF00;
  }